/* Vertical Phone viewport width is minimally 0px */

body {
  overflow: hidden;
}

model-viewer {
  width: 195px;
  height: 195px;
  grid-template-areas: models;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% auto;
  justify-content: center;
  grid-template-areas: 'selectors models'
}

.selectors {
  grid-template-areas: selectors;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#proxBlack,
#proxWhite {
  max-width: 60%;
  padding: 5px;
}

/* Horizontal Phone viewport width is minimally 376px */
@media only screen and (min-width: 376px) {
  model-viewer {
    width: 375px;
    height: 375px;
  }
}

/* Vertical Tablet viewport width is minimally 368px */
@media only screen and (min-width: 368px) {
  model-viewer {
    width: 450px;
    height: 450px;
  }
}

/* Horizontal Tablet viewport width is minimally 557px */
@media only screen and (min-width: 557px) {
  model-viewer {
    width: 450px;
    height: 450px;
  }
}

/* Desktop  viewport width is minimally 1150px */
@media only screen and (min-width: 1150px) {
  model-viewer {
    width: 500px;
    height: 500px;
  }
}
