body {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

model-viewer {
  width: 700px;
  height: 700px;
}

/* @media only screen and (min-width: 80px) {
  model-viewer {
    width: 170px !important;
    height: 170px !important;
  }
}

@media only screen and (min-width: 384px) {
  model-viewer {
    width: 170px !important;
    height: 335px !important;
  }
}

@media only screen and (min-width: 563px) {
  model-viewer {
    width: 400px !important;
    height: 400px !important;
  }
}
 */
